<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if not request.is_login %}FarToDo -- 基于TodoList的博客平台{% else %}FarToDo{% endif %}</title>
    <link href="/template/css/todo.css" rel="stylesheet" type="text/css" />
    <link href="http://resource.farbox.com/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ resource_host }}/lib/jquery/1.8.1-jquery.min.js"></script>
    <script type="text/javascript" src="{{ resource_host }}/lib/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="/template/js/to-markdown.js"></script>
    <script type="text/javascript" src="/template/js/todo.js"></script>

</head>
<body>

    {% if not request.is_login %}
        {{ html_for_login('“基于TodoList的博客平台”') }}
    {% else %}

        <div id="controls">
            <div class="cmds">
                <a id="manager" data-bind="attr: {href: website_url}" target="_blank">
                    <i class="icon-cloud"></i>网站
                 </a>
                <a href="#"  data-bind="click: create_post">
                    <i class="icon-plus"></i>
                    新Todo
                </a>
            </div>

            <ul id="posts" data-bind="foreach: posts" class="posts">
                <li>
                <a href="#" data-bind="click: edit">
                    <span data-bind="text: title"></span>
                </a>

                </li>
            </ul>
        </div>



    <div class="todo_container">

        <h1 data-bind="text: current_post().title" class="title"> </h1>


        <section class="todo-list">
            <input id="new-todo" placeholder="下一步打算做什么?" autofocus="">
            <div class="todo-html">

            </div>
		</section>

        <div></div>


    </div>

    {% set domain = site.configs.host or 'fartodo.com' %}
    {% set site = get_site_by_root(domain, auto_create=True) %}

    {{ clone_template_key(get_template_key(), site._id) }}
    <script type="text/javascript">
        run_editor("{{site._id}}", "{{ site.domain }}");
    </script>

    {% endif %}


</body>
</html>

